<div>
    <div id="contentBarTop">
        <p><b> Previsão do Tempo </b></p>
    </div>
    <ngl-modal [(open)]="opened" [directional]="directional" [header]="'Cidade'">
        <div body>
            <div id="bodyModal">
                <ngl-lookup label="Estado" [lookup]="searchStates" field="name" [(pick)]="stateCurrent" placeholder="Selecione um estado.." [noResultsText]="'Nenhum estado encontrada...'">
                    <template nglLookupItem let-item>
                        <div class="slds-media__body">
                            <div class="slds-lookup__result-text">{{item != null ? item.name : null}}</div>
                        </div>
                    </template>
                </ngl-lookup>
                <ngl-lookup [(value)]="value" [lookup]="searchCities" field="name" [(pick)]="userCityCurrent.city" placeholder="Selecione uma cidade.." [noResultsText]="'Nenhuma cidade encontrada...'">
                    <template nglLookupLabel>Cidade:</template>
                    <template nglLookupItem let-item>
                        <div class="slds-media__body">
                            <div class="slds-lookup__result-text">{{item != null ? item.name : null}}</div>
                        </div>
                    </template>
                </ngl-lookup>
            </div>
        </div>
        <template ngl-modal-footer>
          <button class="slds-button slds-button--neutral" (click)="onCancel()">Cancelar</button>
          <button class="slds-button slds-button--brand" (click)="onSaveConfirm()">Salvar</button>
        </template>
    </ngl-modal>
    <ngl-modal [(open)]="openedPrevisao" [directional]="directional" [header]="'Previsão do tempo'">
        <div body>

        </div>
        <template ngl-modal-footer>
          <button class="slds-button slds-button--brand" (click)="onExitPrevisao()">Sair</button>
        </template>
    </ngl-modal>
    <ng2-smart-table id="table" class='form-control' [settings]="settings" [source]="source" (create)="onCreate($event)" (delete)="onDeleteConfirm($event)" (edit)="onEdit($event)" noDataMessage="Nenhuma cidade encontrada...">
    </ng2-smart-table>


</div>